# ===== 仮想環境 =====
venv/

# ===== Pythonキャッシュ =====
__pycache__/
*.pyc

# ===== 学習済みモデル =====
*.pt
*.pth
models/

# ===== データ =====
data/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== OS固有 =====
.DS_Store
Thumbs.db