# ===== 仮想環境 =====
venv/

# ===== Pythonキャッシュ =====
__pycache__/
*.pyc

# ===== データ =====
data/

# ===== OS固有 =====
.DS_Store
Thumbs.db

# ===== その他 =====
cnn-1.py
CLIpredict.py
train-1.py
test-1.py
main-1.py